body{   
    background: #eee;  
}  
#frm{  
    
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: rgb(127, 130, 229);  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
}  
.form1
{
    background-color: rgb(30, 30, 202);
}